# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Generated folders - Managed workflow)
/ios/
/android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment variables (Sensitive data)
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo